In [1]:
from sqlalchemy import create_engine
import pandas as pd

## Observations

In [22]:
titles = ['ID','DATE','ELEMENT','DATA VALUE','M-FLAG','Q-FLAG','S-FLAG','OBS-TIME']
df = pd.read_csv('./ghcnd-EI/baseDB-20220727/EIM00003976.csv.gz', compression='gzip', names=titles, sep=',', quotechar='"')
df['XSDdate'] = pd.to_datetime(df['DATE'],format='%Y%m%d').dt.strftime('%Y-%m-%dZ')

engine = create_engine('postgresql://noaa:noaa@localhost:5432/ghcnd')
df.to_sql('Observations', con=engine, if_exists='append', index=False)

381

In [23]:
df['DATA VALUE']

0         99
1        170
2          0
3          0
4          0
        ...
57376    149
57377    141
57378    139
57379    163
57380    167
Name: DATA VALUE, Length: 57381, dtype: int64

## Stations

In [14]:
df_stations = pd.read_csv('./target-stations.csv')
engine = create_engine('postgresql://noaa:noaa@localhost:5432/ghcnd')
df_stations.to_sql('Stations', con=engine, if_exists='append', index=False)

25

In [15]:
df

,ID,DATE,ELEMENT,DATA VALUE,M-FLAG,Q-FLAG,S-FLAG,OBS-TIME,XSDdate
0,EI000003953,19291002,TMAX,167,NaN,NaN,S,NaN,1929-10-02Z
1,EI000003953,19291003,TMAX,144,NaN,NaN,S,NaN,1929-10-03Z
2,EI000003953,19291004,TMAX,128,NaN,NaN,S,NaN,1929-10-04Z
3,EI000003953,19291005,TMAX,128,NaN,NaN,S,NaN,1929-10-05Z
4,EI000003953,19291007,TMAX,128,NaN,NaN,S,NaN,1929-10-07Z
...,...,...,...,...,...,...,...,...,...
112829,EI000003953,20220719,TAVG,162,H,NaN,S,NaN,2022-07-19Z
112830,EI000003953,20220720,TAVG,147,H,NaN,S,NaN,2022-07-20Z
112831,EI000003953,20220721,TAVG,149,H,NaN,S,NaN,2022-07-21Z
112832,EI000003953,20220722,TAVG,149,H,NaN,S,NaN,2022-07-22Z
112833,EI000003953,20220723,TAVG,168,H,NaN,S,NaN,2022-07-23Z