## Observations

In [1]:
import pandas as pd

def todf(file:str):
    print('Ingesting file %s\n' % file)
    df = pd.read_csv(file)
    df = df.drop_duplicates(subset=None, keep='first', inplace=False).sort_values(by=['time_stamp'])
    df['XSDhour'] = pd.to_datetime(df['time_stamp'],unit='s').dt.strftime('%Y-%m-%dT%H:%M:%SZ')
    return df

In [ ]:
df = todf('./data/151134_1658160378_1659369978.csv')
df = pd.melt(df, id_vars=['time_stamp','sensor_index', 'XSDhour'], value_vars=['pm2.5_atm_a', 'pm2.5_atm_b', 'pm2.5_cf_1_a', 'pm2.5_cf_1_b', 'humidity_a', 'humidity_b',
                'temperature_a', 'temperature_b', 'pressure_a', 'pressure_b'])

In [5]:
df

,time_stamp,sensor_index,humidity_a,humidity_b,temperature_a,temperature_b,pressure_a,pressure_b,pm2.5_atm_a,pm2.5_atm_b,pm2.5_cf_1_a,pm2.5_cf_1_b,XSDhour
93,1658743200,151134,49.600,NaN,71.684,NaN,1013.784,NaN,2.125,3.801,2.125,3.907,2022-07-25T10:00:00Z
61,1658746800,151134,43.267,NaN,79.533,NaN,1014.429,NaN,0.157,0.251,0.157,0.251,2022-07-25T11:00:00Z
106,1658750400,151134,40.400,NaN,79.633,NaN,1015.067,NaN,6.817,7.400,6.822,7.409,2022-07-25T12:00:00Z
86,1658754000,151134,38.800,NaN,79.833,NaN,1015.590,NaN,14.209,14.654,14.423,14.960,2022-07-25T13:00:00Z
58,1658757600,151134,36.934,NaN,82.200,NaN,1016.164,NaN,21.098,22.305,24.559,26.565,2022-07-25T14:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...
42,1659351600,151134,67.267,NaN,69.833,NaN,1010.724,NaN,1.304,1.637,1.304,1.637,2022-08-01T11:00:00Z
46,1659355200,151134,67.722,NaN,71.000,NaN,1009.966,NaN,1.889,2.582,1.889,2.582,2022-08-01T12:00:00Z
47,1659358800,151134,68.000,NaN,71.000,NaN,1009.431,NaN,1.629,2.402,1.629,2.402,2022-08-01T13:00:00Z
45,1659362400,151134,67.367,NaN,71.200,NaN,1008.897,NaN,3.808,4.753,3.808,4.753,2022-08-01T14:00:00Z
43,1659366000,151134,67.800,NaN,70.966,NaN,1008.304,NaN,4.223,5.312,4.223,5.312,2022-08-01T15:00:00Z

In [ ]:

from sqlalchemy import create_engine
import glob

engine = create_engine('postgresql://noaa:noaa@localhost:5432/purpleair')

lst_file = glob.glob("./data/*.csv")
for file in lst_file:
    df = todf(file)
    df.to_sql('Observations', con=engine, if_exists='append', index=False)

In [31]:
df

Empty DataFrame
Columns: [time_stamp, sensor_index, humidity_a, humidity_b, temperature_a, temperature_b, pressure_a, pressure_b, pm2.5_atm_a, pm2.5_atm_b, pm2.5_cf_1_a, pm2.5_cf_1_b, XSDhour]
Index: []

## sensors

In [30]:
from sqlalchemy import create_engine

engine = create_engine('postgresql://noaa:noaa@localhost:5432/purpleair')
df_sensors = pd.read_csv('sensors.csv')
df_sensors['XSDtime_created'] = pd.to_datetime(df_sensors['date_created'],unit='s').dt.strftime('%Y-%m-%dT%H:%M:%SZ')
df_sensors.to_sql('Sensors', con=engine, if_exists='append', index=False)

72